<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="min-height:0px;max-height:20px;text-align:center">
	<a href='/' style="line-height:0px;font-size:10px">
		© 2015 Cruz|Scott Inc
	</a>
</nav>
