<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="min-height:0px;max-height:20px;text-align:center">
	<a href='/about' style="line-height:0px;font-size:10px;color:white">
		About Meals on Wheels
	</a>
</nav>
